body {
    background-color: grey !important;
}

.ads {
    background-color: azure !important;
    color: darkblue;
    border-radius: 5px;
   
}

.ads h3 {
    font-family: fantasy !important;
}

.img1 {
    width: 70px!important;
    height: 70px!important;
}

.pr {
    background-color: black;
    height: 100%;
}

.pr span {
    color: white !important;
    padding-top: 20px;
}

.pr h3, p{
   font-family: fantasy;
}

.pr button {
    font-family: fantasy;
    background-color: darkblue;
    color: white;
    padding: 5px;
    border-color: #0d6efd
}

.pr button:hover {
    background-color: white;
    color: darkblue;
}

.container {
    margin-top: 10px;
}

.container h3 {
    font-family: fantasy;
    color: white;
    margin-top: 15px;
}

.card img {
    height: 250px;
}

.card-title {
    font-family: fantasy;
}

.salebut {
    font-family: fantasy;
    background-color: darkblue !important;
    color: white;
    padding: 5px;
    border: none;
}

.salebut:hover {
    background-color: white!important;
    color: darkblue!important;
}

footer {
    color: white;
}

@media (min-width: 300px) and (max-width: 450px) {
    .pr span {
        margin-top: 25px;
        margin-left: 10px; 
    }

    .log1 img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 451px) and (max-width: 530px) {
    .pr span {
        margin-top: 100px;
        margin-left: 40px; 
    }
    .pr h3, p{
        font-size: 22px;
    }
    .pr button {
        font-size: 18px;
    }
    .log1 img {
        width: 40px;
        height: 50px;
    }

    
}
@media (min-width: 531px) and (max-width: 768px) {
    .pr span {
        margin-top: 115px;
        margin-left: 60px; 
    }
    .pr h3, p{
        font-size: 23px;
    }
    .pr button {
        font-size: 18px;
    }
    .log1 img {
        width: 40px;
        height: 50px;
    }
    
}
@media (min-width: 769px) and (max-width: 1200px) {
    .pr span {
        margin-top: 140px;
        margin-left: 80px; 
    }

    .pr h3, p{
        font-size: 23px;
    }
    .pr button {
        font-size: 18px;
    }
    .log1 img {
        width: 40px;
        height: 50px;
    }
    
}
@media (min-width: 300px) and (max-width: 530px) {
    .wee {
        font-size: 17px !important;
        padding-top: 15px;
    }
    .img1 {
        display: none !important;
    }
    
    .img2 {
        width: 70%;
    }

    .container h3 {
        font-size: 35px;
    }
    
}

@media (min-width: 531px) and (max-width: 768px) {
    .wee {
        font-size: 25px !important;
        padding-top: 15px
    }
    .img1 {
        display: none !important;
    }
    .container h3 {
        font-size: 45px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .wee {
        font-size: 30px !important;
        padding-top: 15px;
    }
    .container h3 {
        font-size: 45px;
    }
    
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .wee {
        font-size: 30px !important;
        padding-top: 20px;
    }
    .pr span {
        margin-top: 160px;
        margin-left: 80px; 
    }

    .pr h3, p{
        font-size: 23px;
    }
    .pr button {
        font-size: 26px;
    }
    .log1 img {
        width: 70px;
        height: 70px;
    }
    .container h3 {
        font-size: 55px;
    }
}

